@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    align-items: center;
    justify-content: center;
}
.container {
    font-family: 'Outfit', sans-serif;
    display: grid;
    justify-content: center;
    max-width: 350px;
    height: 700px;
}
.qr-code {
    width: 250px;
    
}